fastapi==0.100.0
uvicorn[standard]==0.23.2
sqlalchemy
python-multipart
scikit-learn==1.2.2
numpy==1.23.5
pandas==1.5.3
tensorflow==2.12.0
Pillow
httpx==0.24.1
httpcore==0.17.3
h11==0.14.0
pydantic==1.10.13
joblib
google-generativeai
python-dotenv